:root{
    --bg-color: #60ee90;
    --text-color: #0e0f13;
    --main-color: #60c576;
    --ot-color: #3b704d;
    --otr-color: #025f21;
    --ms-color: #65ee60;
}
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    opacity: 90%;
    background-color: var(--bg-color);
}
.rpimg{
    width: 100%;
    size: 2rem 5rem;
}
.rpimg2{
    height: 100vh;
    width: 155%;
}
.rpimg3{
    height: 155vh;
    width: 100%;
}
.rpimg4{
    height: 100vh;
    width: 125%;
}
.rpimg5{
    height: 100vh;
    width: 151%;
}
.rpimg6{
    height: 100vh;
    width: 152%;
}
.rpimg7{
    height: 100vh;
    width: 151%;
}
.caja{
    position: relative;
    display: inline-block;
}
.texto-1{
    position: absolute;
    top: 30%;
    left: 45%;
    font-size: 4rem;
    color: white;
}
.texto-2{
    position: absolute;
    top: 43%;
    left: 40%;
    font-size: 2rem;
    color: white;
    stroke: 5px solid var(--text-color);
    text-align: center;
}
.texto1{
    position: absolute;
    top: 30%;
    left: 30%;
    font-size: 4rem;
    color: white;
}
.texto2{
    position: absolute;
    top: 43%;
    left: 4%;
    font-size: 2rem;
    color: white;
    stroke: 5px solid var(--text-color);
    text-align: center;
}
.container{
    width: 100%;
    height: 1vh;
    display: flexbox;
}
.container .nav{
    width: 90%;
    height: 10vh;
    background-color: var(--bg-color);
}
.container .nav .navbar a{
    font-size: 1.5rem;
    padding-right: .5rem;
    padding-left: 1rem;
    color: var(--text-color);
    text-decoration: none;
}
.container .nav .navbar a:hover{
    color: var(--ot-color);
}
.container .nav #toggler{
    display: none;
}
.container .nav .bx-menu{
    font-size: 2rem;
    color: var(--text-color);
    padding: 0 1.5rem;
    cursor: pointer;
    border: 1rem solid rgb(61, 58, 58);
    display: none;
}
html{
    font-size: 94%;
    scroll-behavior: smooth;
    scroll-padding-top: 1rem;
    overflow-x: hidden;
}
@media (max-widht: 991px){
    html{
        font-size: 94%;
        scroll-behavior: smooth;
        scroll-padding-top: 1rem;
        overflow-x: hidden;
    }
    .container .nav{
        padding: 2rem;
    }
}
@media (max-widht: 768px){
    html .container .nav .bx-menu{
        display: block;
    }
    .container .nav .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: var(--bg-color);
        border-top: .1rem solid rgb(61, 58, 58);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .container .nav #toggler:checked ~ .navbar{
        clip-path: polygon(0 0 100% 0, 100% 100%, 0% 100%);
    }
    .container .nav .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: var(--bg-color);
        border: .1rem solid rgb(61, 58, 58);
        display: block;
    }
}
@media (max-widht: 450px){
    html{
        font-size: 50%;
    }
    .container .nav{
        padding: 2rem;
    }
}
.nav .navbar{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.container .nav .logo{
    width: 10%;
    cursor: pointer;
    color: var(--text-color);
    font-size: 1.5rem;
    text-decoration: none;
    padding-left: 1rem;
}
.bar-btn{
    font-size: 25px;
    margin-right: 20px;
    cursor: pointer;
}
.container .nav{
    position: fixed;
    top: 0; 
    right: 0;
    background: var(--bg-color);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgb(61, 58, 58);
}
.container .nav .logo{
    color: var(--text-color);
    padding-left: 5rem;
    text-align: center;

}
.L1{
    display: inline-block;
}  
.L1::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: black;
    transition: 300ms;
}  
.L1:hover::after {
    width: 100%;
}
.sobre-nosotros-resumen{
    background-color: var(--bg-color);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.t1{
    height: 5.5cm;
    font-size: 3rem;
    text-align: center;
    justify-content: center;
    display: flex;
    flex: 1 1 15rem;
    padding: 2rem;
}
.p1{
    height: 5cm;
    font-size: 1.5rem;
    text-align: left;
    display: flex;
    flex: auto;
}
.p2{
    height: 8.3rem;
    font-size: 1.5rem;
    text-align:left;
    display: flex;
    flex: auto;
}
.p3{
    height: 8.3rem;
    font-size: 1.5rem;
    text-align:left;
    display: flex;
    flex: auto;
}
.btt{
    padding: 0;
    margin: 1rem;
    background-color: var(--bg-color);
    outline: none;
    border: none;
    margin-left: 45%;
    outline: var(--bg-color);
}
.btn{
    display: flex;
    margin-top: 1rem;
    border-radius: 5rem;
    background-color: var(--main-color);
    color: var(--text-colo);
    padding: 1rem 1rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.7rem;
    transition: 0.5s;
}
.btn:hover{
    background-color: var(--otr-color);
    color: white;
    transform: scale(1.2);
}
.vid{
    display: flexbox;
    width: auto;
    height: auto;
    padding: 1.5rem;
    padding-bottom: 2rem;
    flex: 1 1 15rem;
}
iframe{
    padding-left: 23rem;
}
.sobre-nosotros-resumen h4{
    font-size: 2rem;
    padding-top: 2.5rem;
    text-align: center;
}
.sobre-nosotros-resumen p{
    text-align: center;
}
.sobre-nosotros-resumen .parrafo .p10{
    font-size: 1.7rem;
}
.sobre-nosotros-resumen .parrafo .p11{
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
}
.sobre-nosotros-resumen .parrafo .p12{
    font-size: 2rem;
    text-decoration: solid;
}
.sobre-nosotros-resumen .parrafo .p13{
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
}
.sobre-nosotros-resumen .parrafo .p14{
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
}
.sobre-nosotros-resumen .parrafo .p15{
    font-size: 2rem;
}
.sobre-nosotros-resumen .parrafo .p16{
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
}
.sobre-nosotros-resumen .parrafo .p17{
    font-size: 2rem;
}
.sobre-nosotros-resumen .parrafo .p18{
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
}
.sobre-nosotros-resumen .parrafo .p19{
    font-size: 2rem;
}
.product-resumen{
    background-color: var(--bg-color);
    padding-left: 3rem;
    padding-right: 3rem;
}
.icons-container{
    display: flex;
    background-color: var(--bg-color);
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.icons-container .icons{
    background-color: var(--main-color);
    border: .1rem rgb(0, 0, 0, .1);
    padding: 2.3rem;
    display: flex;
    align-items: center;
    flex: 1 1 15rem;
    justify-content: center;
    flex-flow: row wrap;
}
.icons-container .icons img{
    height: 5rem;
    size: 2rem;
    margin-right: 2rem;
}
.icons-container .icons h3{
    color: var(--text-color);
    font-size: 1.3rem;
    padding-bottom: 1.5rem;
}
.icons-container .icons span{
    color: rgb(73, 68, 68);
    padding-bottom: 1.5rem;
}
.product-resumen{
    padding-left: 5rem;
    padding-bottom: 5rem;
    flex-flow: row wrap;
}
.product-resumen h1{
    text-align: center;
    padding: 3rem;
    font-size: 3rem;
}
.product-resumen .container-box{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.product-resumen .container-box .box{
    flex: 1 1 18rem;
    box-shadow: 0 .5rem 1.5rem rgb(61, 58, 58);
    border-radius: .5 rem;
    border: .1rem solid rgb(61, 58, 58);
    position: relative;
    width: 15rem;
}
.product-resumen .container-box .box .discount{
    position: absolute;
    top: 1rem; left: 1rem;
    padding: 0rem 2rem;
    font-size: 2rem;
    color: var(--otr-color);
    -webkit-text-stroke: .3px var(--text-color);
    background: rgb(255, 51, 153, .05);
    z-index: 1;
    border-radius: .5rem;
}
.product-resumen .container-box .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}
.product-resumen .container-box .box .image img{
    height: 15rem;
    width: 100%;
    -webkit-transition: transform 0.8s;
    transition: transform 0.8s;
}
.product-resumen .container-box .box:hover .image img{
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    display: flex;
}
.product-resumen .container-box .box .image .icons{
    position: absolute;
    bottom: 0; left: 0; right: 0;
    display: flex;
}
.product-resumen .container-box .box:hover .image .icons{
    bottom: 0;
}
.product-resumen .container-box .box .image .icons a{
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.5rem;
    width: 50%;
    background: var(--main-color);
    text-decoration: none;
    color: var(--text-color);
}
.product-resumen .container-box .box .image .icons bx bx-cart{
    border-left: .1rem solid var(--text-color);
    border-right: .1rem solid var(--text-color);
    width: 100%;
}
.product-resumen .container-box .box .image .icons a:hover{
    color: white;
    background: #025f21;
}
.product-resumen .container-box .box .content{
    padding: .8rem;
    text-align: center;
}
.product-resumen .container-box .box .content h3{
    font-size: 1.5rem;
    color: #0e0f13;
}
.product-resumen .container-box .box .content .price{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #025f21;
    padding-top: 1rem;
}
.product-resumen .container-box .box .content .price span{
    font-size: 2rem;
    font-weight: lighter;
    color: #3b704d;
    text-decoration: line-through;
}
.review .opinions-cont{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    background-color: var(--bg-color);
}
.review .opinions-cont .box{
    flex: 1 1 15rem;
    box-shadow: 0 .5rem 1.5rem rgb(61, 58, 58);
    border-radius: 5rem;
    padding: 3rem 3rem;
    position: relative;
}
.review .opinions-cont .box .bxs-quote-alt-right{
    position: absolute;
    bottom: 2.5; right: 2.5rem;
    font-size: 2.3rem;
    color: #3b704d;
}
.review .opinions-cont .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}
.review .opinions-cont .box .stars i{
    color: #025f21;
    font-size: 2rem;
}
.review .opinions-cont .box p{
    color: #0e0f13;
    font-size: 1.2rem;
    line-height: 1.5;
    padding-top: 2rem;
}
.review .opinions-cont .box .user img{
    height: 5.4rem;
    width: 5.4rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: .5rem ;
}
.review .opinions-cont .box .user h3{
    font-size: 1rem;
    color: #0e0f13;
}
.review .opinions-cont .box .user span{
    font-size: 1.5rem;
    color: #222325;
}
.review .heading{
    color: #0e0f13;
    font-size: 3rem;
    background-color: var(--bg-color);
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 3rem;
}
.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
    align-items: center;
}
.contact h1{
    background-color: var(--bg-color);
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    font-size: 3rem;
}
.contact .row{
    background-color: var(--bg-color);
}
.contact .row form{
    flex: 1 1 20rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1rem rgb(61, 58, 58);
    border: .1rem solid rgb(61, 58, 58);
    background-color: var(--bg-color);
    border-radius: .5rem;
}
.contact .row .image{
    flex: 1 1 20rem;
}
.contact .row .image img{
    width: 100%;
    background-color: var(--bg-color);
}
.contact .row form .box{
    padding: .2rem;
    font-size: 1.7rem;
    color: #0e0f13;
    text-transform: none;
    border: .1rem solid rgb(61, 58, 58);
    border-radius: .5rem;
    margin: .7rem;
    width: 95%;
}
.contact .row form .box:focus{
    border-color: var(--main-color)
}
.contact .row form textarea{
    height: 15rem;
    resize: none;
}
.contact .row2 h3{
    padding-top: 3rem;
    padding-bottom: 2rem;
    color: var(--text-color);
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 2.3rem;
}
.contact .row2 .cont-contact a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.7rem;
}
.contact .row2 .cont-contact{
    text-align: center;
}
.footer{
    background-color: var(--bg-color);
}
.footer .footer-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 4rem;
}
.footer .footer-container .box{
    flex: 1 1 10rem;
}
.footer .footer-container .box h3{
    color: var(--text-color);
    font-size: 2rem;
    padding: 1rem 0;
}
.footer .footer-container .box a{
    display: block;
    color: rgb(61, 58, 58);
    font-size: 1.5rem;
    padding: 1rem 0;
    text-decoration: none;
}
.footer .footer-container .box a:hover{
    color: rgb(83, 168, 62);
    text-decoration: underline;
}
.footer .credit{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--ot-color);
    border-top: 1rem solid var(--ot-color);
}
.footer .credit span{
    color: var(--otr-color);
}











.review2{
    padding-left: 2rem;
    padding-right: 2rem;
}
.review2 .opinions-cont2{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    background-color: var(--bg-color);
}
.review2 .opinions-cont2 .box2{
    flex: 1 1 15rem;
    box-shadow: 0 .5rem 1.5rem rgb(61, 58, 58);
    border-radius: 5rem;
    padding: 3rem 3rem;
    position: relative;
}
.review2 .opinions-cont2 .box2 .bxs-quote-alt-right{
    position: absolute;
    bottom: 2.5; right: 2.5rem;
    font-size: 2.3rem;
    color: #3b704d;
}
.review2 .opinions-cont2 .box2 .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}
.review2 .opinions-cont2 .box2 .stars i{
    color: #025f21;
    font-size: 2rem;
}
.review2 .opinions-cont2 .box2 p{
    color: #0e0f13;
    font-size: 1.2rem;
    line-height: 1.5;
    padding-top: 2rem;
}
.review2 .opinions-cont2 .box2 .user img{
    height: 5.4rem;
    width: 5.4rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: .5rem ;
}
.review2 .opinions-cont2 .box2 .user h3{
    font-size: 1rem;
    color: #0e0f13;
}
.review2 .opinions-cont2 .box2 .user span{
    font-size: 1.5rem;
    color: #222325;
}
.review2 .heading2{
    color: #0e0f13;
    font-size: 3rem;
    background-color: var(--bg-color);
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 3rem;
}